{% extends "poll/base.html" %}
{% load widget_tweaks %}
{% block title %}Add{% endblock %}
{% block main %}

<center>
    <B><i><h1>How to use?</h1></i></B>
    <i><h3>In add section,you have to add courses you are going to take</h3></i>
    <i><h3>In search section,search what your friends and crush are going to take</h3></i>
    <i><h3>In faculty review section,vote the faculty which you consider to be best

        <br><br><span style="color: #ff0000">(if the course was completed by you)</span>

        <br><br>and know who is best for upcoming courses
    </h3></i>

</center>

{% endblock %}